<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sporty Bird.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
				<script type="text/javascript">

					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-35920135-1']);
					_gaq.push(['_trackPageview']);

					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();

				</script>
  </head>
  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    <script src="../js/bsa.js"></script>
  <!-- Navbar
    ================================================== -->
    <div class="container">
<!-- Masthead
================================================== -->
			<section id="navbar">
				<div>
					<img src="img/buff-bird.png" alt="Bird" style="width:75px">
					<img src="img/logo-text.png" alt="Logo">
				</div>
			  <div class="navbar">
			    <div class="navbar-inner">
			      <div class="container" style="width: auto;">
			        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
      			    <span class="icon-bar"></span>
			        </a>
      			  <a class="brand" href="#">SportyBird.io</a>
			        <div class="nav-collapse">
      			    <ul class="nav">
			            <li class="active"><a href="#">Home</a></li>
            			<li><a href="#signup">Sign up!</a></li>
      			    </ul>
			        </div><!-- /.nav-collapse -->
      			</div>
			    </div><!-- /navbar-inner -->
			  </div><!-- /navbar -->
			</section>
  <!-- Headings & Paragraph Copy -->
			<section id="middle">
			  <div class="row">
  			  <div class="span4">
	      		<div class="well"  style="text-align: center;">
		        	<h1>SportyBird.io</h1>
    		  	  <h5>Bringing Players, Parents & Coaches Closer Togeather!</h5>
    	  		</div>
			    </div>
			    <div class="span4">
			    	<div style="text-align: center">
							<img src="img/soccer-bird.png" alt="Bird" style="width:275px;">
      		  </div>
			    </div>
			    <div class="span4">
			      <h3>SportyBird is using technology to bring youth sports back to the basics.</h3>
						<p>SportyBird is an online & mobile social youth sports tool. Parents can use SportyBird to effortlessly share their player's games and experiences to friends, family & scouts from all over the country. Coaches and teams can track game & season statistics in a visually stimulating format.</p>
			    </div>
			  </div>
			</section>
			<section id="signup">
				<div style="text-align: center;">
					<form class="well form-search">
						<h1>Signup now to receive your beta invitation!</h1>
						<h6>Currently, we are only accepting a limited number of teams.</h6>
						<input type="text" class="input-large" placeholder="Email">
						<button type="submit" class="btn btn-success btn-large">Submit</button>
					</form>
				</div>
				</section>
     <!-- Footer
      ================================================== -->
			<footer class="footer">
				<div style="text-align: center;">
					2012 SportyBird.io LLC
				</div>
			</footer>
    </div><!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/bootswatch.js"></script>
  </body>
</html>
